<!-- Footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-text pull-left text-left">
                    <ul class="list-inline">
                        <li>
                            <a href="{{ site.navigation.home.path }}">{{site.navigation.home.name }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ site.navigation.about.path }}">{{ site.navigation.about.name }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ site.navigation.testimonies.path }}">{{site.navigation.testimonies.name }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ site.navigation.news.path }}">{{site.navigation.news.name }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ site.navigation.info.path }}">{{site.navigation.info.name }}</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>                    
                        <li>
                            <a href="{{ site.navigation.contacts.path }}">{{site.navigation.contacts.name }}</a>
                        </li>
                    </ul>
                </div>
                <span class="copyright text-muted small pull-left">
                    See our <a href="/sitemap.html">Site Map</a></span>
            </div>
            <div class="col-md-3">
                <div class="navbar-text text-center list-inline">
                    <ul class="list-inline footer-social-buttons text-muted text-right">
                    {% for social in site.social %}
                        <li class="navbar-text pull-right">
                            <a href="{{ social.url }}" class="fa fa-{{ social.title }} social-buttons"><span class="label"> {{ social.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="navbar-text pull-right">

                <p class="copyright text-muted text-right small">Copyright &copy {{ site.copyright }}</p>

                </div>
            </div>
        
    </div>
</div>