<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top nav-text" role="navigation">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.navigation.home.path }}"><img src="/favicon.jpg" alt="Bermuda flag"></a>                
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">  
                <li>
                    <a href="{{ site.navigation.home.path }}" {% if page.permalink == null %} class="current-page"{% endif %}>{{ site.navigation.home.name }}</a>
                </li>   

                <li> 
                    <a href="{{ site.navigation.about.path }}" {% if page.permalink == site.navigation.about.path %} class="current-page"{% endif %}>{{ site.navigation.about.name }}</a> 
                </li>

                <li>
                    <a href="{{ site.navigation.testimonies.path }}" {% if page.permalink == site.navigation.testimonies.path %} class="current-page"{% endif %}>{{ site.navigation.testimonies.name }} 
                    </a>
                </li>

                <li>
                    <a href="{{ site.navigation.news.path }}" {% if page.permalink == site.navigation.news.path %} class="current-page"{% endif %}>{{ site.navigation.news.name }}</a>
                </li>
                
                <li>
                    <a href="{{ site.navigation.info.path }}" {% if page.permalink == site.navigation.info.path %} class="current-page"{% endif %}>{{ site.navigation.info.name }}</a>
                </li>

                <li>
                    <a href="{{ site.navigation.contacts.path }}" {% if page.permalink == site.navigation.contacts.path %} class="current-page"{% endif %}>{{ site.navigation.contacts.name }}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>