---
layout: default
---
<!-- Last 3 posts-->

<h3>{{ page.title }}</h3>
    <div class="row">
        <div class=".col-lg-12">
          <div class="clearfix"></div>
              {% for post in site.categories[page.category] reversed limit:3 %}         

          	<h4 class="section-heading">{{ post.title }}</h4>
              <img class="img-responsive" src="{{ post.img }}" alt="{{ post.altimg }}" height="10%">
              <br>
              <a class="btn btn-info" href="{{ post.url | prepend: site.baseurl }}" role="button">+ info</a>
        </div>
              <br>    
              <hr class="section-heading-spacer-centered"> 
              <br>    
              {% endfor %}
    </div>

<h3>{{ page.title }}</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr class="text-left">
          <th>Image</th>
          <th>Título</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
      {% for post in site.categories[page.category] reversed limit:3 %}
        <tr>
          <td class="text-left"><img class="img-responsive" src="{{ post.img }}" alt="{{ post.altimg }}" height="10%"></td>
          <td class="text-left">{{ post.title }}</td>
          <td><a href="{{ post.url | prepend: site.baseurl }}">+ Info</a></td>
        </tr>
      {% endfor %} 
      </tbody>
    </table>
  </div>  